[2012-10-31 17:56] apiguy opened #1 "Add PATCH support"
smartboyathome@gmail.com suggested adding PATCH as one of the special methods, and considering it's popularity in modern web app development I consider it worth adding.

[2012-10-31 18:00] apiguy opened #2 "Add subdomain support"
In order to be a more complete replacement for blueprints, mark.asperia@gmail.com suggested supporting subdomains the way blueprints do.

[2012-10-31 18:03] apiguy opened #3 "Add support for Lazy Views"
playpauseandstop@gmail.com recommended adding support for Lazy Views, which is useful for apps where initial load times are super important. I agree, as situations like GAE and Heroku can be impacted by long initial imports.

[2012-11-01 14:46] #1 closed, assigned to apiguy

[2012-11-06 00:19] #2 closed, assigned to apiguy

[2012-11-07 14:46] xintron opened #4 "Don't add trailing slash to routes"
When defining custom routes with `routes` a trailing slash is added.

[code]

This adds a trailing slash to the making the route: `/test/foo/` causing a
redirect when doing a post to `/test/foo`.

[2012-11-07 18:36] apiguy commented on #4
I actually went back and forth on this for what the "default" behavior should be when configuring routes. What's your feeling on the auto-generated routes? I chose to default to a trailing slash because flask will automatically fix the path if you miss the trailing slash, (by way of a redirect, as you mention) but will 404 the other way around. I like the safety of the approach, but I do feel like

[2012-11-08 08:07] xintron commented on #4
One thing should be changed at least, the second suggestion. When adding
a route with the decorator it should not append a trailing slash (and as
you say give a 404 if you try to access that route with a trailing
slash).

I think it would be great with a configuration-option to set the default
solution for auto-generated routes but that should only be valid for
auto-generated, not when you set a r

[2012-11-13 15:42] DeaconDesperado commented on #4
Freedom,

I'm working on implementing your ext in our internal API, so I've been
collecting thoughts to send later, just want to weigh in on this real
quick...

A DELETE request totally breaks on using this behavior in debug mode, which
makes local API testing a bit of a pain.  Flask raises its
FormDataRoutingRedirect exception to make certain the routes are reliably
set for DELETE, which makes se

[2012-11-13 15:46] apiguy commented on #4
Thanks Mark that's really good feedback. I've been discussing with some other colleagues and generally my sense is that most developers feel the same as you, so I'll be making that change.

This could be a breaking change for some existing users, and I've got one other "potentially" breaking change to implement as well so I think I'll put them together and get a release out that addresses both.

T

[2012-11-15 09:11] xintron commented on #4
I like the way they put it in the Flask documents about seeing URLs ending with a trailing slash as a "folder" on a filesystem and URLs without trailing slash as files. Based on that view I would vote for generating the following defaults as follows:

[code]

Those are just my two cents.

[2012-11-18 20:06] apiguy commented on #4
@xintron Yup that is exactly what I needed to get the decision made. I'm changing the default to that, and allowing for overrides in the route decorator.

[2012-11-19 01:56] apiguy commented on #4
Alright this change is there and pushed up to the cheese shop, version 0.5.

[2012-11-19 01:56] #4 closed, assigned to apiguy

[2012-11-19 17:28] DeaconDesperado opened #6 "Subdomains and the route decorator"
This may or may not be intended functionality, though I assume it is worth it to check.

Currently, I have a FlaskView called PlaceView to provide HTTP access to a lot of my Place model methods.  I need to register this view at both the main domain (foo.com) at route_base '/data' as well as the data.foo.com subdomain.  I do this using the following utility function:

[code]

Where the parameter `v

[2012-11-20 02:46] apiguy commented on #6
Definitely not the intended behavior. The subdomain should be picked up even when using the `@route` decorator. I'll look into this now.

[2012-11-20 06:29] apiguy commented on #6
The fix is in 0.5.1 for this issue Mark. Thanks for the excellent write-up on the problem.

[2012-11-20 06:29] #6 closed, assigned to apiguy

[2012-11-29 16:50] maxcountryman opened #8 "SyntaxError on 0.5 release"
[code]

[2012-11-29 16:52] maxcountryman opened #9 "Tagged releases would be nice"
Having some trouble pairing hashes with releases. It'd be nice if this project were to tag releases on the repo.

[2012-11-29 17:00] apiguy commented on #8
Thanks Max. I shouldn't have used a dictionary generator there (I forgot they aren't available in python versions earlier than 2.7). I'll get a fix in for that.

[2012-11-29 17:03] maxcountryman commented on #8
I can send a patch your way if that works.

[2012-11-29 17:05] apiguy commented on #8
if you've got one that would be awesome.

[2012-11-29 17:08] apiguy commented on #8
I think you might be a version behind - in 0.5.1 you'll find the offending line is 137 instead of 101

[2012-11-29 17:13] maxcountryman commented on #8
Thanks, I was a version behind and I did find the proper line. :)

[2012-11-29 17:23] #8 closed, assigned to apiguy

[2012-11-29 17:46] apiguy commented on #8
@maxcountryman I had to make a slight modification. A copy of the original dictionary needs to be made or the test for custom endpoints will fail. I'm not sure if I've got a dangling reference or if the dangling reference is in Flask itself. I'll look at it more to figure out where it is. For now though the dict copy is required to get custom endpoints to work.

[2012-11-29 17:48] maxcountryman commented on #8
Okay sounds good. Your generator exp was creating a new dict for you so I'm guessing that's why it worked before. In any case, should be fine to `copy()` it.

[2012-11-29 17:52] apiguy commented on #8
Yeah IIRC when I first wrote it I did use `pop` however I hit that issue with the test cases, then went to the generator (partially out of a bit of frustration). I'm not certain that `copy` is beter than iterating over the dict but I do like that it's less code and clearer.

[2012-11-29 17:52] maxcountryman commented on #8
Btw, not that it makes much difference, but you can call the `copy()` method on the dictionary object instead of: `copy.copy`. (Does exactly the same thing, makes a shallow copy.)

[2012-11-29 17:54] apiguy commented on #8
Hey nice! I've already sent our latest work up to the cheese shop but I'll make that adjustment for the next release.

[2012-11-29 17:57] apiguy commented on #9
I agree completely. I'm a recent convert from Mercurial so there are a lot of corners of `git` I'm not currently familiar with, specifically around best-practices for release management.

In Mercurial, I could simply tag a commit, but it seems that in git it may be more common to keep a separate release branch and tag that. Does that sound right?

[2012-11-29 18:10] maxcountryman commented on #8
Also `pop` should be _slightly_ more performant:

[code]

Basically negligible: the original bench I used wasn't correct. Still given what that the keys are needed and shouldn't be in the final dict and compatibility and readability, I think `pop` is probably the better idiom.

[2012-11-29 18:18] apiguy commented on #8
Yep that's definitely faster. Hopefully nobody's options dict gets that big though! I like `pop` because I think it's clearer to read. Much more obvious that we're yoinking those values out of the dict.

[2012-11-29 18:21] maxcountryman commented on #9
You don't necessarily have to have a separate branch. I tag against master with rauth and that seems to be working pretty well. Basically when I feel like things are looking good for a release on master, I tag it with a version number, push the tags to GitHub and then do sdist. Feel free to poke around that project if it helps. :)

[2012-11-29 18:31] apiguy commented on #9
Awesome. Got it. There's a v0.5.2 tag up there now.

[2012-11-29 18:36] maxcountryman commented on #9
Cool, thanks!

[2012-11-29 18:36] #9 closed, assigned to apiguy

[2013-01-15 18:16] maxcountryman opened #13 "Should Flask-Classy honor url_prefix where registering Blueprints?"
I'm not entirely sure if this by design, but it seems as though the register method of FlaskView does not honor url_prefix as defined by calls to the register_blueprint method.

e.g. should something like this work?

[code]

Basically I would expect to now be able to navigate to http://localhost:5000/bp/ and see the "foobar" response. However this doesn't seem to be the case.

[2013-01-15 20:21] apiguy commented on #13
In my opinion, it totally should. I need to get this turned into a failing test case so I can get a fix worked out.

[2013-01-16 00:25] maxcountryman commented on #13
Awesome! Would love to see this added.

[2013-01-17 00:59] maxcountryman commented on #13
Here's a test case for you:

https://gist.github.com/4552573

[code]

[2013-01-23 19:51] maxcountryman opened #15 "Should methods decorated with `classmethod` be converted to endpoints automatically?"
Currently it seems that decorating a method on a `FlaskView` object with a @classmethod does not exclude it from being generated as an endpoint. However it seems like the desirable approach would be to not implicitly include classmethods as views.

[2013-01-25 18:02] apiguy commented on #15
I agree with this - I should be able to sort out which methods are class views and exclude them in the `find_member_methods` method.

[2013-01-25 18:25] maxcountryman commented on #15
@joeshaw originally raised this issue, pinging him so he can follow the discussion as well.

[2013-01-25 18:41] joeshaw commented on #15
Personally, I'd love the ability to disable automatically creating endpoints altogether.

Our code needs to use the `@route` decorator directly because we have our own `Blueprint` subclass that handles authentication, and we need to pass that into the `Rule`.  Automatically creating an endpoint opens up the possibility for accidentally (and without any authentication!) exposing functions externall

[2013-01-25 18:43] joeshaw commented on #15
Which is not to say that I think the feature should be removed entirely -- it can be a nice convenience -- just that it'd be nice if there were a class variable like `route_base` I could set to turn that off.

[2013-01-25 19:40] apiguy commented on #15
@joeshaw - you aren't the first to request that feature actually. What I've struggled with is where to scope that. Would it be a parameter passed to the register method or maybe an attribute of the FlaskView that could be set (or maybe both might be useful). I think this likely deserves it's own separate issue.

[2013-01-25 19:43] #15 closed, assigned to apiguy

[2013-01-27 14:54] apiguy opened #16 "Make auto-routes optional"
@joeshaw mentioned he'd like to see it be possible to disable automatically generating routes. We need to figure out the correct api for this feature, be it a keyword arg passed in during registration of the FlaskView or an attribute of the FlaskView itself.

[2013-01-27 20:15] maxcountryman commented on #16
I suppose the most explicit and least surprising way to handle this is probably an attribute that can be set to override  automatic routing over the class object:

[code]

[2013-01-29 04:52] apiguy commented on #16
I like that idea, but what I worry about is setting a future precedent where configuration values each get their own class attribute, and then the nightmare of having subclasses override that functionality as well. I guess the decision I have to make is:
1. Should there be some single attribute required for managing behavior configuration, or should there be an attribute for each configurable beha

[2013-01-29 05:11] maxcountryman commented on #16
(1) I think you can safely provide them each as an attribute and perhaps use a naming scheme where the attributes are named with a leading underscore. That would minimize the chance of unintended collisions.

(2) The class that inherits `FlaskView` should define an attribute e.g. `_auto_route = False`. `FlaskView` should then be keeping an eye out for that flag. So the initial value would be defin

[2013-02-04 02:23] apiguy commented on #13
Looks like it does work actually. I think you forgot that `BasicView` doesn't have a default `route_base` set and so the inferred `route_base` will be `/basic/`. If you set the `route_base` when you register the `BasicView` it works fine:

[code]

[2013-02-04 02:25] #13 closed, assigned to apiguy

[2013-02-04 03:42] maxcountryman commented on #13
Right, and this is how we're working around this issue but I don't think that you should require setting a `route_base = '/'`: this idiom is confusing and unnecessarily verbose . Because I've set a `url_prefix` I think that should trump the `FlaskView` default otherwise it seems it's changing Flask's behavior in a surprising way.

[2013-02-04 04:34] apiguy commented on #13
Ahhhh I think I understand now. So what you're saying is that when you set a `url_prefix` for a `Blueprint` that it should have the same effect as setting `route_base` on a `FlaskView`? I don't think I agree with that, as you'll end up with some confusing behavior with `FlaskView`s that do have `route_view` specified. Should one trump the other? If so which one? What if some views define a `route_

[2013-02-04 04:51] maxcountryman commented on #13
What I'm saying is that Flask's API shouldn't be trumped by Flask-Classy. In other words if I pass in `url_prefix` that should serve as the `route_base` in effect. In cases where `url_prefix` isn't passed in then it's probably fine to use whatever default behavior you like.

I think the fundamental problem here is Flask-Classy is changing the behavior of Flask Blueprints in a non-obvious and surpr

[2013-02-04 05:21] apiguy commented on #13
Flask-Classy doesn't change the behavior of Flask or Blueprints at all (take a look at the code, seriously no modification is made to Flask or Blueprints). I think you may be misunderstanding that all `FlaskView`s have an implied `route_base`. For example...

Assume you have this view:

[code]

If you register this view with a Flask app directly like

[code]

You'll the route to `BasicView.my_meth

[2013-02-28 01:12] bdeggleston opened #18 "urls resolving to the wrong methods"
if I define two classes and methods with the same class names and method names, but are in different files with different urls in the route decorator, requests for one method will be erroneously routed to the wrong class

[code]

[code]

If I hit the url `/some/view`, it will call the route `/some/other/route`

[2013-02-28 06:52] apiguy commented on #18
Interesting. I presume that the endpoints used by `url_for` will be similarly corrupted. I'll write a test case up and see if I can't get a fix out for this.

[2013-03-15 17:33] uniphil commented on #3
What's a first step for this? Flask-classy looks super-cool and I like evaluating tools by getting to know them through fixing bugs fist. And I really like doing stuff lazily.

[2013-03-16 22:19] JakeAustwick opened #19 "url_for can't find the routes"
Unless I'm overlooking something, then url_for can't find URL's registered by flask-classy.

Can somebody either help me with a workaround or let me know where I'm going wrong?

Code below will result in the error.

Thanks.

[code]

[2013-03-17 12:55] JakeAustwick commented on #19
My bad, just noticed the test cases where you have to specify the class itself.

[2013-03-17 12:55] #19 closed, assigned to nobody

[2013-03-18 13:13] apiguy commented on #3
Basically a more sophisticated routing system is needed. Right now, when you register a `FlaskView` all the routes are registered with the app (or blueprint) instance at that time. In order to make it lazy Flask-Classy needs it's own router that chooses the view at runtime.

In order to do that though, we need to get Flask to defer to us for the routes we care about. The natural seeming way would

[2013-04-02 09:01] vincenttheeten opened #22 "Problem with inheritance and custom routes"
[code]

I'm getting a problem when defining custom routes (via the decorator) on inherited view classes.

When I go to /items/my_id/delete I get a response "301 Permenantly removed"

When the same delete method is added in the BaseView, it works perfectly.

Are there any limitations with view inheritance that we should be aware of?

[2013-04-12 17:32] apiguy commented on #22
sorry for the delay on this @vincenttheeten I'll take a look at this tonight.

[2013-04-16 18:49] DeaconDesperado commented on #22
It's been awhile since I checked into the latest release of flask-classy, but I think it's worth mentioning this:  Have you tried your routes with trailing slashes and checked your settings for [strict slashes?](http://werkzeug.pocoo.org/docs/routing/#rule-format)  This can get a little confusing in the Werkzeug spec re: 301 redirects and might be the same problem if we're preserving this default

[2013-04-16 18:53] DeaconDesperado commented on #3
I agree this sounds much higher up in the call stack above classy and a little bit out of scope, even if it would be an awesome feature.  It's somewhat priority that interoperability with the default flask routing methods be maintained.

[2013-05-08 18:58] shuhaowu opened #23 "wrapped index and wrapped get will always default to get"
If you use some sort of wrapper for the get and index functions, any attempt to call (request with a GET request) `index` will result calling `get`.

[code]

Note `login_required` is from flask-login.

[2013-05-08 19:04] apiguy commented on #23
This is correct. As stated in the documentation, "special" methods have default behavior. `index` and `get` are special methods and have the default behavior of being accessible via the `GET` verb. If you wish to override this you may do so by using the `route` decorator provided with FlaskClassy.

[2013-05-08 19:06] shuhaowu commented on #23
But requesting `GET /some/` will result in the `get` function being called.

If i remove the decorator, `index` will be called instead. That's my issue.

[2013-05-08 19:11] apiguy commented on #23
Ah I see. Are you using dev or did you a straight pip install?

[2013-05-08 19:17] shuhaowu commented on #23
pip

[2013-05-08 19:22] apiguy commented on #23
Ok. I don't have a test case for this yet, it would be awesome if you could submit one. I've actually been working in the decorators support recently so I might be able to get a fix out for this.

[2013-05-08 19:24] shuhaowu commented on #23
I'm not too familiar with the code base yet. I don't have time at the moment to look into it. Turns out I don't need to implement this just yet. I'll look into it when I get a chance later.

I have another bug report coming, too.

[2013-05-08 19:25] apiguy commented on #23
Ok. Thanks @shuhaowu I'll take a look soon.

[2013-05-08 19:26] shuhaowu opened #24 "Do not auto add trailing slash"
This might be a more controversial change... but trailing slashes are not automatically added for flask itself unless specified.

A 301 redirect also consumes bandwidth and CPU (I remember reading an article that measured 30% of its time spent in 301 redirects due to 1 missing /. Can't find that article right now, though).

[2013-05-08 19:38] DeaconDesperado commented on #24
We had this issue once previously, #4

The decision was to use the directory/resource approach that is implicit in HTTP.  The idea is that a trailing slash  route could conceivably be a "grouping" or directory of resources whereas a route without one is implicitly a single "file" or entity.  It is a comfortable convention that encourages good design for REST.

[2013-05-08 19:42] shuhaowu commented on #24
I understand that for things like the base url (SomeView -> /some/) might be a directory. However, when you define a custom function (`def custom(): ...`), that should be a file unless otherwise stated as not a file. Right? That's how I see it at least.

[2013-05-10 03:52] shuhaowu commented on #23
I'm ready to fix this. Any ideas what might be wrong with this? I would appreciate any insight/pointers :+1:

[2013-05-10 21:34] shuhaowu opened #26 "@route on two functions (post and index) with the same route will fail"
Ideally, you would have one that goes into POST and one that goes into GET.

[code]

only one will work.

[2013-05-13 02:12] apiguy commented on #23
I think I've found a way to get the true argspec of the underlying method regardless of the decorator used but I need to investigate a bit more to ensure it's reliable. Basically the approach is to inspect the closure cells, find a function inside that has an argspec who's args begins with `self`. So far it works great but I'm sure there are some edge cases where it's not going to be so easy and I

[2013-05-13 03:17] apiguy commented on #23
Ok this seems to work for most of the (reasonable) cases I can come up with. I'm feeling the need to add more tests but I think the result of that will simply be that I'll discover more edge cases that could be supported with some small changes to the `get_true_argspec` function added in 7ae3d75.

@shuhaowu If you can - please test this and see if it works for you.

[2013-05-13 03:21] apiguy commented on #24
I'm pretty sure this was addressed but it's not in the cheese shop at the moment. Look at: https://github.com/apiguy/flask-classy/commit/02b84ef9963c9e99b90002fde5e75d00c82f235d

Feel free to reopen if that wasn't the issue you were talking about though.

[2013-05-13 03:22] #24 closed, assigned to nobody

[2013-05-13 03:30] apiguy commented on #26
I think the issue you're having is that you must supply a `methods` attribute when you use `@route` or the default value for `methods` will be used (which is `GET`). This behavior is consistent with `Flask`'s default behavior.

try using:

[code]

[2013-05-13 03:31] #26 closed, assigned to nobody

[2013-05-15 02:58] shuhaowu commented on #23
Works. Good work! :+1:

[2013-05-15 02:58] #23 closed, assigned to nobody

[2013-05-22 20:07] mattotodd opened #27 "Allow setting of cache control"
IE is cacheing all the returned responses from flask classy.

Please allow for setting the cache control of default it to no_cache

example:

response.cache_control.no_cache = True

[2013-05-22 22:14] apiguy commented on #27
Currently you can do this the same way as with normal views like:

[code]

Also, you can do this in the `FlaskView`'s `after_<view_method>` or `after_request` methods:

[code]

Does that work?

[2013-05-23 01:17] mattotodd commented on #27
woah, didn't know about `after_request`, classic "Read the Docs" moment  thanks!

[2013-05-23 01:17] #27 closed, assigned to nobody

[2013-05-30 19:39] Blender3D opened #28 "How do I use `url_for()`?"
I looked through both the documentation and the source, but I wasn't able to find anything relating to `url_for`. Let's say I have a simple class like this:

[code]

I was trying to use `url_for('.profile')` and `url_for('UserViews.profile')`, but neither of those worked. How do I replicate this functionality with a `FlaskView`?

Thanks!

[2013-05-30 19:42] #28 closed, assigned to nobody

[2013-05-30 19:44] Blender3D commented on #28
Just noticed the `url_for`s in your [test cases](https://github.com/apiguy/flask-classy/blob/master/test_classy/test_endpoints.py). It might be helpful to others if you added a small section in the documentation about it.

[2013-06-04 20:26] CaseyMilford commented on #22
@apiguy, have you found anything regarding this issue?  I'm experiencing the same.  Any time I set a route in a child class, it essentially hides all non-builtin routes in the parent class.  e.g., :index will continue to work.  If I remove the route decorators in the child, none of the child methods work, but the base is fully available again.

[2013-06-06 00:44] apiguy commented on #28
Thanks for the feedback, I'm adding it to the docs tonight to be include with the release.

[2013-06-11 11:15] ivan-kleshnin opened #30 "`route_base` overlaps"
_`route_base` argument for `FlaskView.register` has unpleasant side-effect (changes `FlaskView` global state)_

**myflask/blog/**init**.py**

[code]

**myflask/backend/**init**.py**

[code]

**myflask/frontend/**init**.py**

[code]

It can be walked around by sending `route_base` with **all** calls but this is an issue anyhow.

[2013-06-11 11:22] apiguy commented on #30
Confirmed. Looks like I maintain state in the case where a route base was specified, but I don't maintain the state where a route base was not specified.

The fix is pretty easy for this - I just need to write some tests for it.

[2013-06-13 10:30] apiguy opened #33 "Support Python 3.3"
Flask now supports 3.3 so Flask-Classy will too.

[2013-06-14 03:15] apiguy commented on #30
This should be up on the cheese shop now.

[2013-06-14 03:15] #30 closed, assigned to nobody

[2013-06-14 03:27] #33 closed, assigned to apiguy

[2013-06-14 14:24] dgilland opened #34 "Maximum recursion depth exceeded error when using certain decorators"
I receive a `RuntimeError: maximum recursion depth exceeded` error:

[code]

with the following code:

[code]

The line in the example that is causing the error is `decorated_function.foo()`.

It might seem odd to actually use a function like this, but my simple example is derived from using [Flask-Cache](https://github.com/thadeusb/flask-cache), specifically the `cache.cached()` decorator defined

[2013-06-14 14:48] apiguy commented on #34
Interesting. Looks like this comes from the code I'm using to drill down to find the base signature of the method. I should be able to check if the method/function I'm inspecting is the same as the one I'm coming from and then skip it.

[2013-06-17 00:09] shuhaowu opened #35 "Specialized decorators and flask classy do not play well together"
I don't have a test case for now, but basically the idea is if you have in your route `<id>`, and if you want to apply some decorator `def d(id, *args, **kwargs)` selectively to some method of a view (so not using the `decorators = []`) approach, the id passed in will be `self` instead of the actual `id`

[2013-06-17 10:58] Lynges opened #38 "custom init with non-optional param, gives error."
Trying to create a subclass of FlaskView with a custom init like so:

[code]

gives this error:

[code]

Error disappears when custom init is removed.
I am using this to set a model class on the view instance. This lets me create a basic REST interface that I can extend per model class, but the basic CRUD operations are defined here in the base class.

[2013-06-17 13:39] ivan-kleshnin commented on #38
As `FlaskView` classes are created automatically, i doubt you can customize `__init__` signature.
Extension knows nothing about what argument you want to pass into.
Define model class as class attribute (can even be further customized via `@property` feature).

P.S.
For now FlaskClassy deals bad with inheritance. I advice you to be not bound with it for some time...

[2013-06-17 13:56] ivan-kleshnin opened #39 "Another inheritance issue"
I do not quite understand why you choose to change werkzeug approach to endpoint namings.
Be it right or wrong, we have a problem now :)

**Try 1.**

[code]

Now we have ugly endpoints `index_1` and `index_0`. Worst of all, now we forced to check page number before using `url_for`. We do have options `url_for('...index_1')` or `url_for('...index_0')` every time! This is awkward.
Docs say we can cu

[2013-06-17 15:15] apiguy commented on #39
So there are 2 parts to this, I think.

The first part is the convention of "<ClassName>:<MethodName>" for the default endpoint. The reason for this convention was basically because I needed a way to disambiguate between `ThisView.index` and `ThatView.index`. By default, Flask will only use the method name when deciding on an endpoint and that is not specific enough. I support the idea of using a

[2013-06-17 15:18] apiguy commented on #38
@ivan-kleshnin is correct.

[2013-06-17 15:18] #38 closed, assigned to nobody

[2013-06-17 15:24] ivan-kleshnin commented on #39
Aha, its getting clearer. Thanks for the response.

[2013-06-19 13:42] bolerodan opened #40 "Question with before_request()"
This is more of a question than an issue, however I'm porting over some old code to Flask/Flask-Classy, as I really enjoy it...

I'm wondering of a good way of handling the loading of data before the main view method is called (hence, before_request) and dealing with any errors / exceptions that may be raised before the main view method is executed.  For example I have a base view that all of my "

[2013-06-19 14:11] bolerodan commented on #40
Actually, what I ended up doing, which seems to work, is instead of using request_before(), is use a decorator on the main view method to load the api module and return a response if it fails. I just have to decorate every module class, but thats not as bad.

[2013-06-19 14:30] apiguy commented on #40
This is an interesting/good use case. I think what we need is some way to cancel propagation to the actual view method on error. I'll look at that.

[2013-06-25 04:09] Blender3D opened #41 "A few feature suggestions"
I couldn't find equivalents to the `url_for('.index')` syntax and the Blueprint `template_folder` keyword argument, so I added a few changes to [my fork](https://github.com/Blender3D/flask-classy) of Flask-Classy:
- `FlaskView.url_for()`. Adds the view base name to the returned url routes. Things may get inconsistent with both`self.url_for()` and `url_for()` floating around. Maybe it's possible to

[2013-07-07 23:00] apiguy commented on #22
I've got some tests now for this scenario and it seems to be working with the current codebase, see

https://github.com/apiguy/flask-classy/commit/718186d94020c7de1c8872e648cc286096583cbc and https://github.com/apiguy/flask-classy/commit/fefbe1ba76a61fc7c321a291a1698df08f731edb

[2013-07-07 23:00] #22 closed, assigned to nobody

[2013-07-29 07:51] ivan-kleshnin commented on #22
I still see a couple of problems:

[code]

[2013-08-01 07:17] schleppy commented on #34
I have this same issue and it stems from the `@cache.cached()` decorator.  I was able to get around it by modifying the `get_true_argspec` method but it seems that the big feature I really wanted with the latest version (allowing for route inheritance) fails with my change.  Hopefully an elegant solution that handles this issue is coming.  I will try my hand at it again tomorrow.

[2013-09-11 00:15] utsengar commented on #4
Just an FYI, if you are trying to rely on the function name as the route and not specify a `@route('/show')`, flask-classy still redirects no trailing slash to a trailing slash URL.

Example:

This function if accessed via http://host/show , it will redirect to http://host/show/

[code]

But this function won't, this will give a 404 if http://host/show/ is accessed:

[code]

Where `route` is `from

[2013-09-15 00:22] dpgaspar opened #43 "Maybe an inheritance issue"
Hello, first of all thank you so much for your work.

I'm developing a project using flask-classy, but i'm going mad with an issue

i'ts right here:
https://github.com/dpgaspar/homeapp/blob/master/app/general/security/secviews.py#L113

this is the father class: https://github.com/dpgaspar/homeapp/blob/master/app/general/generalviews.py

the @route is commented because if i use it, all the @route f

[2013-09-24 09:29] brmzkw opened #45 "nosetests fail with python3"
python setup.py nosetests fail. The problem has been introduced on dcf62b46f0d

This patch fixes the problem.

<pre>
diff --git a/test_classy/test_endpoints.py b/test_classy/test_endpoints.py
index 1584c10..482e7d6 100644
--- a/test_classy/test_endpoints.py
+++ b/test_classy/test_endpoints.py
@@ -44,4 +44,4 @@ def test_variable_route_base():
 def test_variable_route_base_with_local_route_var():

[2013-12-31 07:25] johnjiang commented on #34
This seems to be fixed in the latest version of flask-classy. Tested on 0.6.8 and don't get the maximum recursion depth exception.

[2014-02-14 18:47] astex opened #53 "Overwriting FlaskView.route_base with descriptors breaks inheritance"
This is going to sound a little roundabout, but with the way I've set up my project, it makes an awful lot of sense.  I have a pretty simple `classproperty` descriptor as follows:

[code]

I use this to overwrite `route_base`, building the string based on attributes of the `FlaskView` subclass.  For example:

[code]

[code]

Now, I'd expect `BarView.route_base == 'foos/bars'`, but `BarView.route_b

[2014-02-14 19:21] astex commented on #53
This actually works.  I withdraw the bug.

[2014-02-14 19:21] #53 closed, assigned to nobody

[2014-03-04 06:59] willynilly opened #54 "Add HTTP OPTIONS method"
flass-classy lacks support for the HTTP OPTIONS method.

[2014-03-25 13:00] #39 closed, assigned to nobody

[2014-03-25 13:00] #43 closed, assigned to nobody

[2014-03-25 13:49] #34 closed, assigned to nobody

[2014-03-25 14:18] dgilland opened #56 "Error in get_true_argspec when class based decorator uses context manager with certain Python versions"
This is a strange bug that seems to affect only certain versions of Python 2.7.3 depending on the GCC version used (maybe?). It's due to the ordering of [method.__closure__](https://github.com/apiguy/flask-classy/blob/master/flask_classy.py#L306) which, when not "right", causes a `TypeError: <...object...> is not a Python function` error when [argspec = inspect.getargspec(method)](https://github.c

[2014-04-03 20:36] dgilland commented on #56
This has been fixed in [v0.6.10](https://pypi.python.org/pypi/Flask-Classy/0.6.10). Thanks so much @apiguy :+1:

[2014-04-03 20:36] #56 closed, assigned to nobody

[2014-04-19 01:26] etscrivner commented on #4
Second what @utkarsh2012 said. This is pretty obnoxious and unexpected.

[2014-05-01 01:59] sloria opened #58 "Nested resources"
I apologize if this is a duplicate, but I couldn't seem to find mention of support for nesting of resources, e.g. `/users/42/tweets/24`?

I found this gist: https://gist.github.com/mattseh/5168688, though I haven't yet verified that it works. Is there a cleaner solution?

[2014-06-26 06:36] ryanolson commented on #54
Compatibility with the common `HTTPMethodOverrideMiddleware` would be great.

[code]

[2014-09-01 09:02] mickey06 opened #65 "Problem implementing werkzeug converters"
I tried to adapt http://flask.pocoo.org/snippets/106/ to flask_classy.

But an exception is raised  when implementing the werkzeug converter. (TypeError: 'ObjectId' object is not callable)

[code]

[2014-09-20 14:47] metalgrid commented on #58
I didn't manage to get that gist working, not even by directly downloading the whole file and executing it. Are there plans to support automatic nesting?

[2014-09-27 08:41] serkandaglioglu opened #66 "Blueprint template not found"
Thank for flask-classy. I am coming from php codeigniter and flask-classy helped me very much.

I have a problem.
i am trying to do that example http://flask.pocoo.org/docs/0.10/blueprints/#templates .

My application structure

[code]

/app/modules/module_test/controllers.py

[code]

When i tried blueprint without flask-classy it worked, but when i tried with flask-classy it did not work , the er

[2014-09-27 11:41] serkandaglioglu commented on #66
I did this change

**from**

[code]

**to**

[code]

it worked.

#### But Flask documentation says that:

[code]

As for static files, the path can be absolute or relative to the blueprint resource folder. The template folder is added to the searchpath of templates but with a lower priority than the actual application’s template folder. That way you can easily override templates that a blueprint p

[2014-09-27 13:27] danielchatfield commented on #66
You are not following the documentation, you need to actually pass `__name__` into `Blueprint`

[2014-09-27 16:23] s-y opened #67 "bug"
https://github.com/apiguy/flask-classy/blob/master/flask_classy.py#L87
find the bug
 assert not None == True

[2014-09-27 18:28] serkandaglioglu commented on #66
@danielchatfield thanks. it worked

[2014-10-02 11:20] Sohair63 opened #68 "urls resolving to the wrong methods"
I write the following class as shown below:

[code]

In my template, in the href i am calling the follow

[code]

With the url_for('Courses:get', id=course.id) It goes to the correct method, but the issue is for the following

[code]

also goes to the "show"  url_for('Courses:get', id=course.id)

[2014-10-02 11:28] Sohair63 commented on #18
Is this issue is resolved?

[2014-10-28 18:31] s-y commented on #54
+1
and will be cool allow generate routes without methods bound.

[2014-10-30 13:48] undergroundtheater commented on #13
I think the best solution for the OP is what I did:

[code]

And inherit from that.  Don't inherit from it if you want the default behavior from FlaskView, or if you're going to use multiple FlaskView classes on a single blueprint.

Yes, I know this is old, but it seemed like it needed an answer. :)

[2014-12-02 14:38] ghost commented on #35
I'm a newbie to python but maybe the following will help you:

[code]

`id` is a named paramter and part of the `kwargs` dict, isn't it?

edit: oops, haven't seen that it's referenced to another issue.

[2014-12-08 16:11] ryanlowe0 opened #71 "Support for http methods other than GET on custom methods"
One of the main reasons I like Flask-Classy over Flask-Restful is the support for custom methods, allowing endpoints to be grouped in the same class. But, as far as I can tell, all custom methods are GET only.

So, first, is there currently any way to make a custom method be, say, POST instead of GET that I am missing? Second, if not, are there any plans to support this?

I have only just started

[2014-12-08 16:27] ghost commented on #71
As far as I know it's like in the Flask core:

[code]

HTTP decorators like in bottle.py aren't integrated. If the `methods` parameter isn't the one you're looking for, you could implement your owns.

[2014-12-08 17:40] ryanlowe0 commented on #71
Oh cool, that ought to suffice. Thanks!

[2014-12-08 17:40] #71 closed, assigned to nobody

[2014-12-30 13:16] ghost commented on #68
@ez47 is right!

A simple request per `href` attribute cannot be a `POST` `PUT` oder `DELETE` request - normally. Think you have to use javascript, e.g. the [`$.ajax()`](http://api.jquery.com/jquery.ajax/) of jQuery - there it's possible to define the request type in the settings (major browsers).

[2015-01-26 21:07] depado opened #74 "Question : Dynamic Subdomains ?"
Hi !
I was just wondering if there was a way of using a dynamic subdomain with FlaskView ? I know one can define a custom subdomain, but I'd like it to be dynamic. Is there a way I can achieve that ?

Thanks for the good work !

[2015-02-03 11:33] hartwork opened #75 "Forgot to push code of 0.6.10?"
Hi!

I noticed that
- `setup.py` and `flask_classy.py` in master say "0.6.8", latest commits dated 2014-03-27
- PyPI [has 0.6.10 for download](https://pypi.python.org/pypi/Flask-Classy) with files dated 2014-04-01.

So I wonder if you forgot to push and tag the latest source code.

Best, Sebastian

[2015-02-25 11:39] ghost opened #76 "Moving get_interesting_members to FlaskView as classmethod"
Hi, I'd like to have better control over which methods are registered for routing.

All I need is a way to override `get_interesting_members`  function.

Would it be possible to just move it inside `FlaskView` as classmethod?

[2015-02-26 08:07] bhootd opened #77 "A 'preprocess_request' similar to that in Flask app"
I have a use case in which I need to unit test only the `before_request` part of a `flask-classy` view. If it had been a normal Flask view, I would have simply done:

[code]

However, I did not find any such alternative for `flask-classy`. Simply calling `app.preprocess_request` did not work either, because obviously, the `classy`'s own `before_request` hadn't been called yet.

Any pointers here?

[2015-03-23 06:26] iatkinson commented on #58
Looking for the same and would love a simple way to nest resources.  Relevant discussion [here](https://stackoverflow.com/questions/28573348/how-to-access-nested-resources-in-flask-classy), where a possible solution is:

[code]

This works, but feels a bit dirty.  It would be nice if index could be `def index(self, user_id)`, but that will cause a duplicate user_id error as described in that SO po

[2015-04-11 02:02] kaneg opened #78 "Add a class decorator to register view into app"
Hi apiguy,

Since you have made a great work to enable flask decorator route on methods of class, how about adding a class decorator to register view into app instead of registering app manually?
I have tried way below, it can work:

[code]

I'm not sure if there is any side effect to use this way.

Regard
Kane

[2015-04-28 01:43] frankV commented on #74
Also wondering this myself.

[2015-04-28 01:56] frankV commented on #74
After looking for a solution to this I think I may have stumbled upon one accidentally. If you want to handle dynamic subdomains you need to decorate your view methods with Flask-Classy's route, here's an example of what I did:

[code]

[2015-04-28 08:14] depado commented on #74
Thanks @frankV. In the end, I just used BluePrints for my dynamic subdomain handling. But I'll keep that in mind !

[2015-07-16 20:58] synergetic commented on #40
Returning response directly from before_index, before_pots etc. seems to work.

[2015-08-26 11:08] hoatle opened #80 "flask-classy continuing development and maintenance"
Hello guys,

flask-classy is awesome, however, I don't know why @apiguy haven't responded for a while with PR and issues.

So I forked the project and add more features, supports for it here at: https://github.com/teracyhq/flask-classful

and the updated documentation here at: http://flask-classful.teracy.org/

One thing remains is that I don't have flask-classy pypi credentials to updating it on

[2015-09-07 04:50] aptro opened #83 "Documentation error"
![screenshot from 2015-09-07 10 15 45](https://cloud.githubusercontent.com/assets/10391409/9709455/95ffdf28-5549-11e5-9ca5-fee6f2d21b77.png)

In the above screenshot rule for SomeView should be /root/my_view/

[2015-09-18 08:46] joest67 commented on #4
Just set `Content-typ` with `application/json`, it works for API Web Application.

[2015-10-05 11:45] OOPMan commented on #80
@hoatle Hi, nice to see you're taking over maintenance of this. With regards to the PRs against this repo, have any or all of them been merged in to your fork?

[2015-10-05 13:44] hoatle commented on #80
@OOPMan yes, I think I merged some and added some more updates, please checkout the commits here at: https://github.com/teracyhq/flask-classy/commits/develop

[2015-10-05 13:52] OOPMan commented on #80
@hoatle Great. Just wanted to check as I will probably be adding your fork to a project I'm working on...

[2015-10-05 13:56] hoatle commented on #80
@OOPMan yes, and you should access the update the latest docs at: http://flask-classy.teracy.org/ (on master branch) and http://flask-classy.teracy.org/develop/ on develop branch

[2015-11-25 07:04] SantjagoCorkez commented on #16
I think, there MUST be a single point for switching auto-route on/off application-wide, making the implicit FlaskView successors' attribute value the same as that point says. For example it could be an app.config key. Then one could override that app-wide value for only those classes he wants.

[2015-12-04 14:53] #77 closed, assigned to nobody

[2016-01-20 04:29] lucidfrontier45 opened #84 "cannot register when using type hintings"
If I add type hints to `get` or `post` etc like,

[code]

 it gives the following error.

[code]

Looks like you `getfullargspec` is needed insted of `getargspec`.

[2016-01-20 09:14] bivald commented on #80
I've pinged @apiguy on Twitter as well regarding this. I'll also use @hoatle's fork in my projects from now on.

[2016-01-20 14:47] lucidfrontier45 commented on #80
@hoatle
Thank you for inheriting the project.
I have a question about PyPI registration. Do you have any intention to register your fork as another package name? I don'k now if you can use @apiguy 's PyPI account.

I think it is more convenient if the package can be found on PyPI.

[2016-01-20 15:02] bivald commented on #80
@lucidfrontier45 ,

@hoatle would need access to @apiguy to publish under the same name (even though doing so would absolutely be the best) or start a claiming process. It would be better if @hoatle could be invited to this repo of course.

@hoatle You can open a support request for Pypi to claim ownership of a abandoned project by visiting http://sourceforge.net/p/pypi/support-requests/ and creat

[2016-01-22 14:43] svenstaro commented on #80
I suggest you just rename your work and that's that. Maybe call it flask-classful for maximum confusion in the ecosystem.

[2016-01-24 05:50] hoatle commented on #80
thank you guys, let me try to claim ownership of a abandoned project first.

[2016-01-24 06:12] hoatle commented on #80
issue created: https://sourceforge.net/p/pypi/support-requests/591/

[2016-02-16 09:56] hoatle commented on #80
FYI, pypi ownership transfer issue was accepted https://sourceforge.net/p/pypi/support-requests/591/

[2016-02-16 10:22] hoatle commented on #80
FYI, v0.8.0 has just been released https://github.com/teracyhq/flask-classy/blob/master/CHANGELOG.md#2016-02-16-hoat-le-hoatleteracycom

[2016-02-16 10:27] bivald commented on #80
:+1:

[2016-02-16 14:21] iartarisi commented on #80
To clarify, it seems that you have not yet been granted pypi access? And the "0.8.0 released" does not mean "released on pypi", but rather "tagged in github"?

[2016-02-16 14:32] hoatle commented on #80
@mapleoin yes, I meant github tagged, it will be pypi released when I got pypi ownership transfer.

[2016-03-09 01:36] hoatle commented on #80
https://sourceforge.net/p/pypi/support-requests/591/ closed with response:

`The owner has responded that this is not an abandoned project.`

[2016-03-09 08:12] bivald commented on #80
Perhaps you @apiguy could add @hoatle as maintainer of this repo then?

[2016-03-09 09:52] EvaSDK commented on #80
Did the pypi guys ignore the absence of activity on this repo ? I fail to see how this is not abandoned considering the lack of commits for over a year and a half.

[2016-03-09 11:23] OOPMan commented on #80
@hoatle Time to rename your fork?

[2016-03-09 11:28] OOPMan commented on #80
And release it under the new name?

[2016-03-09 14:35] svenstaro commented on #80
I suggest `flask-classful` :P

[2016-03-09 14:56] hoatle commented on #80
I guess so, what's about `flask-classify` as a new name? :D

[2016-03-09 15:04] bivald commented on #80
I like flask-classful :+1:

[2016-03-09 18:30] OOPMan commented on #80
`flask-class-act` :-)

[2016-03-10 02:14] hoatle commented on #80
thank you guys, let's go with `flask-classful` then, I'll update on this issue when it's done.

[2016-03-16 11:49] hoatle commented on #80
hello guys, let's make it clear with this change. Please let me know if there is any problem with the changes here: https://github.com/teracyhq/flask-classful/pull/13 ?

[2016-03-18 04:47] hoatle commented on #80
hello guys, rename done:

pypi: https://pypi.python.org/pypi/Flask-Classful
docs: http://flask-classful.teracy.org/

[2016-03-18 13:37] svenstaro commented on #80
Good job!

[2016-03-18 13:41] bivald commented on #80
Awesome, when any of us get some time we could also submit it to  http://flask.pocoo.org/extensions/ http://flask-menu.readthedocs.org/en/latest/

[2016-03-19 14:46] lobobabysaurus opened #86 "Documenting Custom POST Routing"
The Documentation is really solid, but with both explicit and implicit extra routes all of the examples only use GET routes.

It would be nice to also show POST/PUT/DELETE or just a general non-GET method case in the documentaiton

[2016-05-01 14:32] acimnotes opened #87 "Please add trailing slashes after parameters in GET method"
Greetings! The GET default route doesn't add trailing slashes after parameters even if I add this option to the `MyView.register(app, trailing_slash=True)`method. I need trailing slashes for Flask-Freezer extension to generate static pages. I've solved this for now by putting the decorator like so: `@route('/<int:f_id>/')` but I would love to know how to make it work automatically. Please help me

[2016-10-25 17:43] auvipy opened #89 "Is this project no longer maintained?"
If @apiguy don't have time then you could add me as co maintainer of the package.

[2016-10-25 17:45] hoatle commented on #89
I opened the same question before https://github.com/apiguy/flask-classy/issues/80 and we decided to continue the work with the fork at https://github.com/teracyhq/flask-classful

Your contributions are warmly welcome.

[2016-12-13 15:41] slisznia opened #90 "flask-classy is superior to flask-restful."
I've worked on larger projects utilizing both frameworks and I'm quite tired of flask-restful's stringent adherence to only-one-GET/PUT/POST method per resource class. It produces an abundance of classes.

RESTful is an interface pattern and as such does not imply nor should dictate, how classes/code are organized internally. Yes, people can be sloppy and produce messy web but that's another story

[2016-12-16 10:56] SandeR2012 commented on #90
check this https://github.com/teracyhq/flask-classful

[2016-12-26 16:33] #68 closed, assigned to nobody

[2017-09-26 14:14] AlJohri commented on #90
see https://github.com/apiguy/flask-classy/issues/80#issue-103239695

[2017-10-11 16:48] hoatle commented on #87
@Arkturian we've released https://github.com/teracyhq/flask-classful v0.14.0 with the support for your case by this issue https://github.com/teracyhq/flask-classful/issues/47

[2017-10-11 16:49] hoatle commented on #84
@lucidfrontier45 type hints are supported by our fork project here, you can check this out http://flask-classful.teracy.org/#type-hints-support-for-python-3

[2017-10-12 00:58] #87 closed, assigned to nobody

[2018-01-31 08:37] kevin-y commented on #65
I'm having the same issue in the latest version of flask.

[2018-07-31 23:11] massongit opened #91 "Conversion rules of rules of URL when there are multiple syllables"
In the following `View`, the rules of the URL will be `/foobar/`.

[code]

However, I think that it is more intuitive to become `/foo_bar/`.

[2020-11-11 13:59] #78 closed, assigned to nobody